#servidor
fastapi[standard]
uvicorn

#ambiente
pyyaml
logger
python-dotenv

#orm e banco
sqlalchemy
motor
psycopg2
databases
asyncpg
asyncio
starlette

#validação
pydantic

#ferramentas
pandas
aiohttp

#views
bokeh-fastapi
panel[fastapi]
matplotlib
unidecode
Pillow